
body {
    background-color: white;

}


.container, .jumbotron {
    border: 2px solid black;
    align-items: flex-start;
    background-color: royalblue;
    color: gold;
}

h1{
    font-style: italic
}

#schLoc{
    
}

.gameContainer {
    border: solid;
}

