
















<<<<<<< HEAD


=======
lonz
>>>>>>> 819b2aa58577a361fc0266b557526b9827c708fc


body {
    background-color: white;

}


.container {

    background-color: royalblue;
    color: gold;
}

#schLoc {
    border: solid;
}

.gameContainer {
    border: solid;
}
<<<<<<< HEAD

=======
=======
 master
>>>>>>> 819b2aa58577a361fc0266b557526b9827c708fc
